/* Language Selector */
.language-selector {
  display: flex;
  height: 56px;
  align-items: center;
  gap: 15px;
  margin: 20px;
  padding: 0 20px;
  border: 1px solid #2D37484D;
  border-radius: 150px;
}

.language-selector-link{
  text-decoration: none;
  color: #2D3748;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  display: flex;
  align-items: center;
}
