/* Desktop Navigation Links */
.nav-links {
  display: flex;
  gap: 80px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #2D3748;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
}

.icons{
  width: auto;
  height: 20px;
  margin: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-link:hover {
  color: #005BBD;
  text-decoration: underline;
  text-decoration-color: #D69E2E;  
  text-decoration-thickness: 2px;   /* Thickness of underline */
  text-underline-offset: 5px;   /* Space between text and underline */
  transform: scale(1.1);  
}





