/* Desktop Navigation Links */
.nav-links {
  display: flex;
  gap: 80px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #2D3748;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
}

.icons{
  width: auto;
  height: 20px;
  margin: 10px;
}

/* Language Selector */
.language-selector {
  display: flex;
  height: 56px;
  align-items: center;
  gap: 15px;
  margin: 20px;
  padding: 0 20px;
  border: 1px solid #2D37484D;
  border-radius: 150px;
}